:root {
  --color-primary:#000;
  --color-secondary:#fff;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: sans-serif;
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}